.places {
    padding-bottom: 92px;
    display: grid;
    grid-gap: 80px;
}

@media screen and (max-width: 1023px) {
    .places {
        grid-gap: 73px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        grid-gap: 50px;
    }
}