.header {
  min-height: 52px;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
  }
}




