.cover {
    width: 100%;
    padding-top: 92px;
    padding-bottom: 92px;
    display: flex;
}

@media screen and (max-width: 320px) {
    .cover {
        padding-top: 66px;
        padding-bottom: 64px;
    }
    
}